<p style="color: green"><%= notice %></p>

<div class="anime-info">
  <div class="row">
      <dt class="col-6 col-sm-4 font-weight-normal text-gray-dark-6">Тип</dt>
      <dd class="col-6 col-sm-8 mb-1"><%=@anime.anime_type%></dd>
      <dt class="col-6 col-sm-4 font-weight-normal text-gray-dark-6">Эпизоды</dt>
      <dd class="col-6 col-sm-8 mb-1"><%=@anime.episodes%></dd>
      <dt class="col-6 col-sm-4 font-weight-normal text-gray-dark-6">Статус</dt>
      <dd class="col-6 col-sm-8 mb-1"><%=@anime.status%></dd>
      <dt class="col-6 col-sm-4 font-weight-normal text-gray-dark-6">Жанр</dt>
      <dd class="col-6 col-sm-8 mb-1"><%=@anime.genre%></dd>
      <dt class="col-6 col-sm-4 font-weight-normal text-gray-dark-6">Сезон</dt>
      <dd class="col-6 col-sm-8 mb-1"><%=@anime.season%></dd>
      <dt class="col-6 col-sm-4 font-weight-normal text-gray-dark-6">Выпуск</dt>
      <dd class="col-6 col-sm-8 mb-1"><%=@anime.release_date%></dd>
    </div>
</div>

<div>
  <%= link_to "Edit this anime", edit_anime_path(@anime) %> |
  <%= link_to "Back to animes", animes_path %>

  <%= button_to "Destroy this anime", @anime, method: :delete %>
</div>
